@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .promo {
        &__photo {
            img {
                max-width: 350px;
            }
        }
    }

    .about-me {
        .container {
            grid-template-columns: 400px 524px;
            column-gap: 33px;
        }

        &__info {
            &-text {
                width: 100%;
            }
        }
    }

    .resume {
        &__wrapper {
            padding: 0;
            padding-top: 60px;
            column-gap: 50px;
            justify-content: center;
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
        }
    }

    .portfolio {
        &__wrapper {
            grid-template-columns: repeat( auto-fit ,280px);
            
            .vertical, .horizontal {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }

    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 585px;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .title {
        &_fz36 {
            font-size: 30px;
        }
    }

    .promo {
        .container {
            justify-content: space-between;
            align-items: center;
        }
        &__photo {
            img {
                max-width: 250px;
            }
        }

        &__title {
            width: 456px;
        }
    }

    .about-me {
        padding-top: 60px;

        .container {
            grid-template-columns: 300px 380px;
            column-gap: 33px;
        }

        &-title {
            margin-top: 60px;
        }
    }

    .resume {
        padding-top: 60px;

        &__wrapper {
            grid-template-columns: repeat(2, 325px);
        }   
    }

    .skills {
        padding-top: 60px;
    }

    .portfolio {
        padding-top: 60px;
    }

    .contacts {
        padding-top: 60px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title {
        &_fz48 {
            font-size: 28px;
        }
    }

    .promo {
        &__photo {
            img {
                max-width: 200px;
            }
        }
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }

    .about-me {
        padding-top: 40px;
        .container {
            column-gap: unset;
            grid-template: 400px auto auto / 1fr;
            grid-auto-rows: auto;
        }

        &__photo {
            grid-row: unset;
            grid-column: unset;
        }

        &__info {
            grid-row: unset;
            grid-column: unset;

            &-title {
                margin-top: 40px;
            }
        }

        &__skills {
            grid-row: unset;
            grid-column: unset;
        }
    }

    .resume {
        padding-top: 40px;
        
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: repeat(1, 425px);
        }   
    }

    .skills {
        padding-top: 40px;

        &__wrapper {
            padding-top: 40px;
        }    
    }

    .portfolio {
        padding-top: 40px;
    }

    .contacts {
        padding-top: 40px;
        &__wrapper {
            padding: 0;
            grid-template-columns: 1fr;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
    
        &__link {
            margin-right: 25px;
            img {
                max-width: 30px;
                max-height: 30px;
            }
        }
        &__form {

            grid-template: 45px 45px 190px / repeat(1, 1fr);
        }
    
        &__triggers {
            grid-column: unset;
            grid-template-columns: repeat(2, auto);
        }
    
        &__policy {
            input {
                margin-right: 5px;
            }
        }

        &__textarea {
            grid-column: unset;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .title {
        &_fz48 {
            font-size: 26px;
        }

        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }

    .hamburger {
        right: 20px;
    }
    
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .promo {
        .container {
            flex-direction: column;
            justify-content: center;
        }

        &__subtitle {
            text-align: center;
            &::before {
                left: 6px;
            }
        }

        &__title {
            text-align: center;
        }

        &__btns {
            margin: 0 auto;
        }

        &__photo {
            margin-top: 30px;
            img {
                max-width: 150px;
            }
        }
        &__btns {
            margin-top: 30px;
        }
    }

    .about-me {
        &__info {
            &-title {
                text-align: center;
                &::before {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &-subtitle {
                text-align: center;
            }
        }
        .divider {
            margin: 0 auto;
            margin-top: 25px;
        }
        &__skill {
            column-gap: 15px;
        }
    }

    .resume {
        &__wrapper {
            grid-template-columns: repeat(1, 295px);
        }   
    }

    .portfolio {
        &__wrapper {
            margin-top: 40px;
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__triggers {
            grid-column: unset;
            grid-template-columns: repeat(1, auto);
        }

        &__title {
            text-align: center;
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__subtitle {
            text-align: center;
        }

        .divider {
            margin: 0 auto;
            margin-top: 25px;
        }

        &__social {
            text-align: center;
        }

        &__text {
            text-align: center;
        }

        &__policy {
            margin-top: 20px;
        }
    }
}