.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    &__line {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;

        &_long {
            width: 36px;
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;

    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    &__block {
        position: relative;
        width: 345px;
        background-color: $main-color;
        height: 100%;
        padding-top: 140px;
        padding-left: 40px;
        transition: all 0.7s;
        z-index: 10;
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            svg path {
                fill: white;
            }
        }
    }

    &__list {
        list-style-type: none;
        padding-left: 35px;
    }

    &__link {
        position: relative;
        font-weight: bold;
        font-size: 24px;
        list-style: 36px;
        margin-bottom: 15px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 15px;
            height: 15px;
            border: 1px solid black;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: -35px;
        }
        
        a {
            color: white;
            text-decoration: none;
        }

        &:hover {
            &:before {
                transition: all 0.7s;
                background-color: white;
            }
        }
    }

    &__social {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-github {
            &:hover {
                svg path {
                    fill: white;
                }
            }
        }
        
        &-instagram {
            &:hover {
                svg path {
                    fill: white;
                }
            }
        }

        &-facebook {
            &:hover {
                svg path {
                    fill: white;
                }
            }
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        opacity: 0.75;
    }
}