.sidepanel {
    width: 338px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 1;
    top: 73vh;
    left: 50px;

    transform-origin: left top 0;
    transform: rotate(-90deg);

    &__text {
        height: 24px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }

    &__divider {
        width: 70px;
        height: 2px;
        background-color: black;
    }

    &__link {
        &-github {
            &:hover {
                svg path {
                    transition: all 0.7s;
                    fill: $main-color;
                }
            }
        }

        &-instagram {
            &:hover {
                svg path {
                    transition: all 0.7s;
                    fill: $main-color;
                }
            }
        }

        &-vkontakte {
            &:hover {
                svg path {
                    transition: all 0.7s;
                    fill: $main-color;
                }
            }
        }
    }
}