.slider {
    position: relative;
    width: 750px;
    margin: 0 auto;
    
    .slick-slide {
        img {
            width: 100%;
        }
    }

    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background: none;
        img {
            width: 31px;
            height: 50px;
        }
    }

    .slick-next {
        right: -66px;
        left: auto;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding-left: 0;
        button {
            border-color: $main-color;
            background-color: white;
            height: 25px;
            width: 25px;
            border-radius: 100%;
            font-size: 0;
            margin: 0 10px;
        }

        .slick-active {
            button {
                background-color: $main-color;
                transition: 1s all;
            }
        }
    }
}